body {
	background: #030303 repeat-x;
	font-family: "Arial", Verdana, serif
}
#container {
	margin: 10;
	width: 500px}
}
#main_content_top {
	height: 5px;
	background: #FFFFFF;
}
#main_content {
	padding-left: 7px;
	padding-top: 2px;
	padding-right: 7px;
	padding-bottom: 2px;
	color: white;
	margin: 0;
	width: 100%;
	background: #292929;
	background-repeat: repeat-y
}
#main_content_bottom {
	height: 5px;
	background: #292929;
}
#quotes {
	text-align: right;
}
p {
	font-size: 20px;
}
#space {
	width: 1500px}
	background: #030303;
}